/*Certification section*/
#Certificacion {
    padding: 60px 0;
    background: #a3c734;
    //background: linear-gradient(to right, #33742c 0%, #a3c734 100%);
    color: #fff;
  }

  #Certificacion .about-text {
    padding-top: 15%;
  }

  @media (max-width: 992px) {
    #Certificacion .about-text {
      padding-top: 10%;
    }
  }

  #Certificacion h2 {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  #Certificacion h2::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 4px;
    width: 60px;
    bottom: 0;
    left: 0;
  }
  #Certificacion img {
    margin-top: 10px;
    background: #fff;
    border-radius: 50%;
    height: auto;
    width: 40%;
  }
  #Certificacion p {
    line-height: 24px;
    margin: 30px 0;
    font-size: 17px;
    text-align: justify;
  }

  @media (max-width: 768px) {
    #certification img {
      margin: 50px 0;
    }
  }