/*Mission and Vision section*/
#Flags { 
    padding-bottom: 50px; 
    background: #f6f6f6;
    width: 100%;
}
#Flags .section-title {
    text-align: center;
    margin-bottom: 30px;
}

.primerFila {
    margin-left:15%;
}

.segundaFila {
    margin-left:35%;
}

.flags{
    margin: 10px;
    width: 65px;
    height: 65px;
}
 
/*@media (max-width: 1200px){
    .flags{
        margin: 15px;
        width: 80px;
        height: 80px;
    }
}*/


@media (max-width: 992px){
    .primerFila {
        margin-left:10%;
    }
    .segundaFila {
        margin-left:10%;
    }
}

@media (max-width: 768px){
    .flagContainer {
        float: left;
        text-align: center;
    }
}
  
@media (max-width: 400px){
    #Flags {
        width: 110%;
    }
}
